 *{
padding: 0;
margin: 0;
}
body{
overflow-x: hidden;
}
/*------------------------------------header top-----------------------------------------*/
.header-top{
height: 40px;
background-color:#db1f28;
}
.header-top .row{
padding-top: 10px;
font-size: 13px;
}
/*-----------------------------------navbar----------------------------------------------*/
.navbar-brand{
padding-left: 70px; 
}
.nav-item{
padding:10px 5px; 
font-size: 14px;
}
#btn{
font-size: 14px;
font-weight: bold;
margin-right: 40px;
background-color:#db1f28;
color:white; 

}
#btn1{
font-size: 14px;
font-weight: bold;
background-color:#db1f28;
color:white; 
}
.btn{
transition: .2s;
}
.btn:hover {
animation: pulse 1s infinite;
transition: .3s;
}
@keyframes pulse {
0% {
transform: scale(1);
}
70% {
transform: scale(.9);
}
100% {
transform: scale(1);
}
}
.navbar ul li a{
position: relative;
}
.navbar ul li a::before{
content: '';
width: 0px;
height: 3px;
background:#db1f28;
position: absolute;
top: 140%;
left: 0px;
transition: 0s;
}
.navbar ul li:hover a::before{
width: 100%;
}
.navbar ul li a::after{
content: '';
width: 0px;
height: 3px;
background:#db1f28;
position: absolute;
top: -50%;
left: 0px;
transition: 0s;
}
ul li:hover a::after{
width: 100%;
}

/*-----------------------------------banner section--------------------------------------*/
.img1{
background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5)), url('../img/kk.jpg');
background-size: 100% 100%;
width: 100%;
height: 650px;
margin-top: 110px;
}
.banner1 h1{
font-size: 60px;
margin-left: -15px;
}
.banner1 p{
font-size: 14px;
margin-left: -15px;
}
.banner1{
padding-top: 50px;
}
.banner1 hr{
width: 50%;
}
.banner1 p a{
margin-top:15px;
}
.ban-item{
margin-top: 50px;
height: 300px;
border-radius: 3px;
background-color: #db1f28;
position: relative;
}
.ban-item .row{
padding-top: 100px;
}
.ban-item .row i{
font-size: 70px;
}
.ban-item .hr{
position: absolute;
border: 0.5px solid white;
width: 96%;
margin-top: 30px!important;
margin-left:9px;

}
.ban-item .vl7{
border-right:0.5px solid white;
height: 270px;
margin-top: -195px;

}
.vl8{
border-left:0.5px solid white;
height: 270px;
margin-top: -195px;
margin-left: 10px;
}
.vl9{
border-right:0.5px solid white;
height: 270px;
margin-top: -270px;
}
.vl6{
border-right:0.5px solid white;
height: 270px;
margin-top: -220px;
}
#vl7{
border-right:0.5px solid white;
height: 270px;
margin-top: -195px;
margin-right: 10px;
}
/*-----------------------------------Card-section--------------------------------------*/
.card-sec{
margin-top: 350px;
}
.card-sec a{
font-size: 14px;
}
.cc{
color: red;
}
.ccc{
color: black;
}
.card-sec hr{
width:4%;
height: 3px;
background-color:red; 
margin-left:calc(50% - 2%);
}
.card{
font-size: 15px;
}
.owl-dots{
display: none;
}
.card-sec {
font-size: 14px;
}
.card i{
font-size:48px;
color:red;
}
.card:hover{
background-color:#db1f28 !important;
color: white !important;
}
.card:hover i{
color: white;
}
.card:hover a{
color: white!important;
}
.card-sec .card:hover a{
color: white;
}
.card:hover hr{
background-color: white!important;
}
.card hr{
background-color: red;
width: 45px;
height: 5px!important;
}
.bt i{
padding-top:5px;
font-size: 30px;
color:red;
margin-top: 8px;
}

/*-----------------------------------content-section--------------------------------------*/
.img2{
background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.7)), url('../img/kk.jpg');
background-size: cover;
width: 100%;
height: 300px;
}
.content{
margin-top: 90px;
}
.content hr{
width:4%;
height: 3px;
background-color:red; 
margin-left:calc(50% - 2%);
}
.img2 .row{
padding-top: 100px;
}
.img2 .row i{
font-size: 55px;
}
/*-----------------------------------content-section2--------------------------------------*/
.con1{
margin-top:100px;
}
.vl{
border-right:5px solid #91d40d;
height: 50px;
margin-top: -80px;
}
.con1 p{
font-size:16px;
}
.con1 h4{
word-spacing: 3px;
letter-spacing: 2px;
}
.con2 h3{
padding-top: 50px;
padding-left: 15px;
}
.con2 hr{
margin-left: 15px;
width: 60px;
height: 4px!important;
}
.con2 p {
font-size: 14px;
padding-left: 15px;
}
.con2 a {
font-size: 14px;
padding-left: 15px;
}
.con2 .row{
height: 350px;
font-size: 14px;
}
.img5{
background-image: url('../img/rur.jpg');
background-size: cover;
width: 100%;
height: 350px;
}
.ttt {
  background-color:#db1f28 ;
  color:white;
  position: relative;
}
.ttt::after {
 content: " ";
 position: absolute;
left: -15px;
top: 48%;
border-top: 15px solid transparent;
border-right: 15px solid #db1f28;
border-left: none;
border-bottom: 15px solid transparent;
z-index: 2;
}

/*-----------------------------------Banner+card--------------------------------------*/
.banner2{
margin-top: 100px;
}
.banner2 hr{
width:4%;
height: 3px;
background-color:red; 
margin-left:calc(50% - 2%);	
}
.content1{
border: 1px solid lightgray;
}
.content1 hr{
width: 60px;
height: 5px;
}
.img4{
background-image: url('../img/kk.jpg');
background-size: cover;
height: auto;
width: 100%;
/* margin-left: -4px; */
}
.content2 .hr{
border-bottom: 1px solid lightgray;
width: 500px;
margin-left: 20px;
}
.card-body{
margin-top: -2px;
}
.vl1{
border-left: 1px solid lightgray;
height: 290px;
margin-top: 30px;
margin-left: -5px;
margin-right: -5px;
margin-bottom: -9px;
}
.vl2{
border-left: 1px solid lightgray;
height: 290px;
margin-left: -5px;
margin-right: -5px;
margin-top: -9px;
}
.content2 p{
font-size: 14px;
}
.cd{
margin-top: 30px;
margin-bottom: -30px;
}
/*-----------------------------------Footer-section--------------------------------------*/
.footer-top{
background-color: #343840;
}
footer .row li a{
font-size: 12px !important;
}
.foot-item li a{
text-decoration: none !important;
}
.input-search{
height:45px;
width:75%;
padding-left:20px;
color:#333;
}
.btn-search{
height: 45px;
width:60px;
background-color: powderblue;
margin-left: -5px; 
border: none;  
}
.foot-bottom{
background-color:#232529;
font-size: 12px;
}
.foot-bottom p{
padding-left: 150px !important;
padding-right:150px !important;
}
footer i{
font-size: 10px;
}



/* ----------------------------------------Responsive Css---------------------------------------------- */


@media only screen and (max-width: 600px){

.header-top{
height: 80px;
background-color:#db1f28;
}
.header-top .row{
font-size: 18px;
}
.rr{
display: flex!important;
justify-content: center!important;
}
.rr i{
padding-top: 3px;
}
#btn{
margin-right:auto;
}
.banner1 h1{
font-size: 50px;
}
.banner1 p{
font-size: 18px;
}
.ban-item{
margin-top: 60px;
height: 600px;
}
.ban-item .row{
padding-top: 50px;
}
.vl8,.vl9,.vl7,.vl6,#vl7,.hr{
display: none;
}
.card-sec{
margin-top: 750px;
}
.card{
width: 280px;
}
.card-sec1{
margin-top: 15px;
}
.img2{
height: 400px;
}
.img2 .row{
padding-top: 25px;
}
.con1 h4{
text-align: left!important;
}
.con2{
margin-bottom: 1000px;
}
.content2{
border: 0.5px solid lightgray;
margin-top: 5px;
}
.img4 h4{
margin-left: 25px!important;
}
.img4 h6{
margin-left: 25px!important;
}
.img4 hr{
margin-left: 25px!important;	
}
.img4 p{
margin-left: 25px!important;
}
#cd1{
margin-left: -15px!important;
}
#cd2{
margin-left: -15px!important;
}
.cdd{
margin-left: -12px!important;
}
.con2 p{
font-size: 18px;
}
.con2 a{
font-size: 18px;
}
.content2 p{
font-size:16px;
}
.conn2{
margin-top: 50px;
}
.con1 .vl{
border-bottom: 5px solid #91d40d;
border-right: none;
margin-top:-25px!important;
width: 55px;
margin: auto;
}
.ttt{
height: 350px;
}
.ttt p{
font-size: 16px;
}
footer h6{
font-size: 20px;
}
.footer-top{
margin-top: 100px;
}
footer .row li a{
font-size: 14px !important;
}
.foot-bottom p{
padding-left: 5px !important;
padding-right: 5px !important;
font-size: 12px;
}
.content1{
border: none;
}
.vl1,.vl2,.hr{
display: none;
}
.cd{
margin: auto;
}
.banner1 hr{
width: 90%;
}
}




@media only screen and (min-width: 600px) and (max-width: 767px){
.header-top{
height: 80px;
background-color:#db1f28;
}
.header-top .row{
font-size: 20px;
}
.rr{
display: flex!important;
justify-content: center!important;
}
.rr i{
padding-top: 3px;
}
.banner1 h1{
font-size: 45px;
}
.vl8,.vl9,.vl7,.vl6,#vl7,.hr{
display: none;
}
.img1{
margin-left:8px;
}
.img2{
margin-left:8px;
}
.img4{
margin-left: 5px!important;
}
.banner1 p{
font-size: 20px;
}
#btn{
font-size: 16px;
}
.banner1 hr{
width: 90%;
}
.ban-item{
margin-top: 50px;
height: 600px;
}
.ban-item .row p{
font-size: 20px;
}
.ban-item .row{
padding-top: 35px;
}
.card-sec{
margin-top: 650px;
}
.card-sec h6{
font-size: 20px;
}
.card-sec1{
margin: auto!important;
}
.card-sec1{
margin-top: 10px!important;
}
.card-sec .card{
height: 400px;
width: 350px;
}
.card-sec .card h6{
font-size: 20px;
}
.card-sec .card p{
font-size: 18px;
}
.img2 .row{
padding-top: 10px;
}
.content1{
border: none;
}
.content2{
margin-left: 6px!important;
}
.vl1,.vl2,.hr{
display: none;
}
.content2 h6{
font-size: 20px;
}
.content2 p{
font-size: 18px;
}
.img4{
margin: auto;
}
.con1 h4{
text-align: left!important;
}
.con2{
margin-bottom: 950px;
margin-left: 38px!important;
}
.conn2 p{
font-size: 20px;
}
.ttt p{
font-size: 20px;
}
.ttt::after{
border: none;
}
footer .row li a{
font-size: 16px !important;
/* } */
}


@media only screen and (min-width: 768px) and (max-width: 991px){
.vl8,.vl9,.vl7,.vl6,#vl7,.hr{
display: none;
}
.carousel-con{
margin-left: 60px!important;
}
#btn{
margin-right: -1px;
}
.con2{
margin-bottom: 400px;
}
.foot-bottom p{
padding-left: 5px !important;
padding-right: 5px !important;
font-size: 18px;
}
footer .row li a{
font-size: 18px !important;
}
}


@media only screen and (max-width: 360px){
.header-top{
height: 60px;
background-color:#db1f28;
}
.header-top .row{
font-size: 16px;
}
.banner1 h1{
font-size: 35px;
}
.banner1 p{
font-size: 15px;
}
.ban-item{
margin-top: 60px;
height: 600px;
}
.ban-item .row{
padding-top: 50px;
}
.card-sec{
margin-top: 650px;
}
.content{
margin-top: 80px;
}
.img2 p{
font-size: 15px;
}
.con2 a{
font-size: 17px;
}
}


@media only screen and (min-width: 992px) and (max-width: 1199px){
.ban-item .hr {
    position: absolute;
    border: 0.5px solid white;
    width: 95%;
    margin-top: 30px!important;
    margin-left: 9px;
}
#vl7 {
    border-right: 0.5px solid white;
    height: 270px;
    margin-top: -218px;
    margin-right: 10px;
    }
    .card{
      font-size: 16px;
      width: 300px;
      height: 360px;
    }
  } */ */ */